<h1>Añadir Telefono</h1>

<form class="form-group" [formGroup]="telefonoForm" (ngSubmit)="onSubmit()">

  <div>
      <label for="celular">Numero de telefono:</label>
      <input class="form-control" for="celular" type="text" formControlName="telefono_celular">
    </div>
  
    <div>
      <label for="desc">Descripcion:</label>
      <input class="form-control" for="desc" type="text" formControlName="descripcion">
    </div>
  
    <div>
      <label for="act">Activo:</label>
      <input class="form-control" for="act" type="text" formControlName="activo">
    </div>

    <br/>
    <button class="btn btn-primary" type="submit" [disabled]="!telefonoForm.valid">Submit</button>
  </form>

  <h1>Borrar Teléfono:</h1>

    <div>
      <label for="delete">Telefono ID:</label>
      <input class="form-control" for="delete" type="text" [formControl]="telId">
    </div>
  
    <br/>
    <button class="btn btn-primary" type="button" (click)="onClick()">Borrar Telefono</button>
  
  